<div id='record-cont'>
  <div class="profile">
    <img class='profile-pic' src="https://theunitedstates.io/images/congress/225x275/{{legislator.bioguide_id}}.jpg">
    <div class="identity">
      <div id='id-party'>{{legislator.partyadj}} Congressperson </div>
      <span id='id-name'>{{legislator.fullName}}</span>
    </div>
  </div>

  <h3>Contact Information</h3>
  <div id ='contact-info'>
    <div id='contact-cont'>
      <div class='contact-cont-2'>
        <div class='contact'>Phone Number</div>
        <div class='contact-obj'>{{legislator.phone}}</div>
      </div>
      <div class='contact-cont-2'>
        <div class='contact'>Website</div>
        <div class='contact-obj'>
          <a href="{{legislator.website}}">{{legislator.website}}</a>
        </div>
      </div>
    </div>
  </div>

  <div id='bills'>
    <h3>Recent Votes</h3>
    <ul id ='bill-ul'>
      {{#each LegVote as |vote|}}
        <li class="{{vote.voter_ids}}">
          <a href="{{vote.govtrack}}">
            <div id='bill-id'>{{vote.bill_id}}</div>
          </a>
          <p id='official-title'>{{vote.official_title}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
